
:root {
  --primary-color:#008080; /* Main theme color */
  --secondary-color: #FFAB91; /* Background color */
  --tertiary-color: #33ace4; /* Accent color */
  --text-color: #333; /* Main text color */
  --hover-color: #b33300; /* Button/link hover color */
  --link-hover-color: #ff5722;
}
body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}



.skills, .projects, .services, .footer {
  padding: 2rem;
  text-align: center;
}

.skill-list, .project-list, .service-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.skill, .project-card, .service-card {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
